@font-face {
    font-family: railway;
    src: url('./Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: 100;}
body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    font-family: railWay;
    background-color: #f1f5f9;}
#sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    height: 98vh;
    background-color: #fee2e2;
    gap: 20px;
    grid-column-start: 1;
    grid-column-end: 1;
    box-shadow: 2px 0px 5px rgba(190, 190, 190, 0.589);}
h2{display: flex; align-items: center; font-size: 40px;}
h2>svg{width: 100px;}
#sidebar>button{
    width: 90%;
    text-align: left;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    height: 35px;
    background-color: #e5e7eb00;}
#details{
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: rgba(255, 255, 255, 0);
    height: 200px;
    margin-top: 50%;}
#details>button{border-style: none; background-color: #f7bebe; border-radius: 5px;}
#details>textarea{border-style: none; border-radius: 5px; box-shadow: 0px 5px 10px rgba(216, 216, 216, 0.616);}
#sidebar>button:hover{
    background-color: rgb(255, 255, 255);}
#sidebar>*{
    margin-left: 10px;}
#new-project-button:hover{
    background-color: rgb(255, 255, 255);}
#projects-header{
    display: flex;
    align-items: center;
    width: auto;
    gap: 100px;}
button{display: flex; align-items: center;}
button>svg{width: 50px;}
button:hover{background-color: rgba(255, 255, 255, 0.418);}
#new-project-button{
    display: flex;
    align-items: center;
    background-color: #e5e7eb00;
    width: 80px;
    height: 45px;
    border-style: none;
    border-radius: 15px;
    gap: 5px;
    font-size: large;}
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-column-start: 2;
    grid-column-end: 2;}
#main-content>div{
    background-color: white;
    width: 50%;
    border-radius: 10px;
    margin-top: 10%;
    box-shadow: 0px 5px 10px rgba(209, 209, 209, 0.596);
    padding: 8px;
    border-style: outset;
    border-bottom-width: 5px;}
#main-content>div>button{
    background-color: #e5e7eb00;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    border-style: none;
    border-bottom-width: 5px;}
ul>div>button{border-style: none; background-color: #f7bebe; border-radius: 5px;
    box-shadow: 0px px 10px rgba(204, 204, 204, 0.555);}
#main-content>div>button:hover{
    background-color: #b8b8b849;}
ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;}
input{
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 2px 10px rgba(201, 201, 201, 0.493);
    height: 25px;}
select{
    border-style: none;
    border-radius: 5px;
    margin-left: 20%;
    background-color: #fca5a5;}
li{display: flex; align-items: center;}
li>button{
    height: 30px;
    width: 15rem;
    font-size: 16px;
    border-radius: 5px;
    background-color: #e5e7eb00;
    border-style: none;}
form>button{
    text-align: center;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 3px 10px rgba(175, 175, 175, 0.438);
    background-color: #f7bebe;}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #cbd5e1;
    padding: 8px;
    border-radius: 5px;}